.Button {
  display: block;
  text-align: center;
  background-color: #5cb85c;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.Button.disabled,
.Button.disabled:hover,
.Button.disabled:active,
.Button.disabled:focus {
  background-color: #666;
}

.Button:hover,
.Button:active,
.Button:focus {
  background-color: #449d44;
}

.Button {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  padding: 10px;
}

.Button p {
  margin: 0px;
  line-height: 1.25;
}
