.MenuPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.MenuPage .container {
  padding: 5px;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.MenuPage .flash {
  margin: 5px auto;
  padding: 10px 5px;
  background-color: #e95e29;
  color: #fff;
}
.MenuPage .flash p {
  margin: 0px;
}
