.OrderForm {
  display: block;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.OrderForm h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;
  margin-top: 0px;
  margin-bottom: 10px;
}
